<div class="card">
  <h2>Button [Press Return Key]</h2>
  <ul class="card-buttons-horizontal">
    <li>
      <a href="#" class="button is-bold duration-2" data-hover>.button</a>
    </li>
  </ul>
</div>

<pre class="card card-pre">
.button {
  transition: all 0.2s ease-out;
}
</pre>
