// devise overrides

.field {
  margin-top: 1rem;

  label {
    padding-bottom: .2rem;
    display: block;

    + br {
      display: none;
    }
  }
  
  input[type=text],
  input[type=email],
  input[type=password] {
    @extend .input;
  }

  input[type=checkbox] {
    margin-right: .2rem;
    cursor: pointer;
    
    + label {
      display: inline-block;
      cursor: pointer;
    }
  }

  em {
    @include font(.875rem);
    font-style: normal;
    color: $color-note;
  }

  i {
    @include font(.875rem);
    font-style: normal;
    color: $color-note;
    padding-bottom: .4rem;
    display: block;

    + br {
      display: none;
    }
  }

  .field_with_errors {
    $c: $color-red;
  
    label {
      color: $c;
      margin-bottom: 0;
    }
  
    input[type=text],
    input[type=email],
    input[type=password] {
      animation: .2s ease-out 0s 3 anim-shake;
  
      border-color: $c;
      &:focus {
        border-color: $c;
      }
    }
  
    i {
      @include font(.875rem);
      font-style: normal;
      color: $color-red;
      padding-bottom: .4rem;
      display: block;
  
      &::before {
        @include fa('\f071');
        margin-right: .4rem;
      }
    }
  
    + em {
      display: inline-block;
      margin-bottom: .5rem;
    }
    
    + br {
      display: none;
    }
  }
}

.actions {
  margin-top: 1rem;
  text-align: center;

  input {
    @extend .button;
    width: 100%;
    padding: 1rem;
  }

  a {
    $c: $color-black;
    color: $c;
    margin: 0 .5rem;
  
    &:hover {
      text-decoration: underline;
    }
  
    + br {
      display: none;
    }
  }
}

#error_explanation {
  $c: $color-red;
  background-color: lighten($c, 30%);
  border-bottom: 1px solid lighten($c, 28%);
  color: $c;
  margin-top: 1rem;
  padding: .5rem 1rem;

  h2 {
    @include font(.875rem, 1.2rem, bold);
    margin: 0;
  }

  ul {
    margin: .1rem 0 0 1.5rem;
    padding: 0;

    li {
      @include font(.9375rem);
      margin-top: .3rem;
    }
  }
}

//login

.layout-login {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: calc(100vh - 38px);
  background-color: #f8f8f8;

  &__inner {
    @include font(.875rem);
    padding: 2rem 2rem 2rem;
    border-radius: .2rem;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);

    h2 {
      @include font(1.25rem, 1, bold);
    }
  }
}