// flat colors
// https://flatuicolors.com/palette/fr

$color-fr0: #fad390;
$color-fr1: #f6b93b;
$color-fr2: #fa983a;
$color-fr3: #e58e26;
$color-fr4: #f8c291;
$color-fr5: #e55039;
$color-fr6: #eb2f06;
$color-fr7: #b71540;
$color-fr8: #6a89cc;
$color-fr9: #4a69bd;
$color-fr10: #1e3799;
$color-fr11: #0c2461;
$color-fr12: #82ccdd;

$color-fr13: #60a3bc;
$color-fr14: #3c6382;
$color-fr15: #0a3d62;
$color-fr16: #b8e994;
$color-fr17: #78e08f;
$color-fr18: #38ada9;
$color-fr19: #079992;

// base colors
$color-black: #444444;
$color-blue: $color-fr12;
$color-red: #fc5c65;

// named colors
$color-note: #aaa;
